{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "cypress/globals": true
  },
  "globals": {
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals",
    "next", 
    "prettier",
    "plugin:cypress/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "cypress"
  ],
  "rules": {
  }
}
